<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>对战界面-UI自动化测试报告</title>
  </head>
  <body>
    <h1 style="text-align: center">对战界面-UI自动化测试报告</h1>

    <div class="main">
      <div class="box">
        <h3>两名玩家每回合的差异</h3>
        <table>
          <thead>
            <tr>
              <th>回合</th>
              <th>玩家A</th>
              <th>玩家B</th>
              <th>Diff</th>
              <th>Diff率</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < diffLog.totalStep; i++ ) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><img src="<%= imgList1[i] %> " /></td>
              <td><img src="<%= imgList2[i] %> " /></td>
              <td><img src="<%= diffImgListOfEachStep[i] %> " /></td>
              <td><%= diffLog.eachStep[i] %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="box">
        <h3>玩家A相邻回合间的差异</h3>
        <table>
          <thead>
            <tr>
              <th>回合</th>
              <th>前一回合</th>
              <th>后一回合</th>
              <th>Diff</th>
              <th>Diff率</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < diffLog.totalStep - 1; i++ ) { %>
            <tr>
              <td><%= i + 1 %> - <%= i + 2 %></td>
              <td><img src="<%= imgList1[i] %> " /></td>
              <td><img src="<%= imgList1[i + 1] %> " /></td>
              <td><img src="<%= diffImgList1[i] %> " /></td>
              <td><%= diffLog.eachPlayer.player1[i] %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="box">
        <h3>玩家B相邻回合间的差异</h3>
        <table>
          <thead>
            <tr>
              <th>回合</th>
              <th>前一回合</th>
              <th>后一回合</th>
              <th>Diff</th>
              <th>Diff率</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < diffLog.totalStep - 1; i++ ) { %>
            <tr>
              <td><%= i + 1 %> - <%= i + 2 %></td>
              <td><img src="<%= imgList2[i] %> " /></td>
              <td><img src="<%= imgList2[i + 1] %> " /></td>
              <td><img src="<%= diffImgList2[i] %> " /></td>
              <td><%= diffLog.eachPlayer.player2[i] %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <style>
    .main {
      display: flex;
      justify-content: space-around;
      margin: 20px 0;
      width: 100%;
    }
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #000;
      padding: 0 30px;
    }
    .box:last-of-type {
      border-right: none;
    }
    img {
      width: 90px;
    }
    td {
      text-align: center;
      min-width: 40px;
    }
  </style>
</html>
